.container {
    border: 2px solid coral;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: cornflowerblue;
    font-weight: 700;
  }
  
  .text {
    margin: 0;
  }
  